body,p,dl,dd,ul,ol,li,div,h1,h2,h3,h4,h5,h6,form,input,table,tr,td{
	margin:0;
	padding:0;}
a{
    text-decoration:none;
    color:#555;
}
body{
	font-family: "微软雅黑",Arial;
}
ul,ol{
	list-style:none;
}
img{
	border: 0;
}
/*header*/
.header_biggest{
	   margin:0 auto;
       width:100%px;
}
.header_left a{
    padding:0 14px;
}
.header_top  li{ 
     font-size: 14px;
	float:left;
}
.header_left li:nth-child(4){
	font-style:oblique;
	font-weight:600;
	padding-right:700px;
}
.header_left {
	overflow:hidden;
	height:40px;
	line-height: 40px;
	padding-top: 10px;
}
.header_left li:nth-child(5) a{
	  display:inline-block;
	  height:14px;
}

.header_left .picture01{

	background: url(../img/common-sprite.png)  -670px -680px no-repeat;
}
.header_left li:last-child a{
	  display:inline-block;	
	  vertical-align: middle; 
	  font-style:oblique; 
}
.header_left span{
	text-align: center;
	 vertical-align: middle;  
	display: inline-block;
	width: 22px;
	height:40px;
	 font-style:normal; 
	background: url("../img/common-sprite.png") -570px -318px no-repeat;
}
.header_middle{
	height:62px;
}
.header_middle img{
	height:100%;
	display: block;
	margin:0 auto;
}
.header_bottom{
	padding-left:200px;
	font-size: 14px;
	height:56px;
	line-height: 56px;
	position: relative;
}
.header_bottom .liDom{
	display: inline-block;
	padding-right:60px;
}
.introduceBox{
	border-top:2px solid #cec8c8;
	width:100%;
	background:white;
	height:400px;
	position: absolute;
	z-index: 999;
	display:none;
	position:absolute;
	bottom:-400px;
	left:0;
}
.liDom:hover  .introduceBox{
	display: block;
}

.introduceBox span{
	display:inline-block;
	font-size:20px;
	padding-top:10px;
	padding-bottom:10px;
}
.ulFloat{
	overflow:hidden;
}
.introduceBox .liFloat01{
	width:30%;
	padding-left:200px;
	box-sizing: border-box;
}
.introduceBox .liFloat{
	height:100%;
	padding-right:50px;
    float:left;
}
.liFloat02 ul   li:nth-last-child(2) a{
	color:red;
}
.liFloat02 ul   li:last-child a{
	color:red;
}
.liFloat03 ul   li:last-child a{
	color:red;
	display: inline-block;
	padding-top:20px;
}
.liFloat04 ul   li:last-child a{
	display: inline-block;
	padding-top:20px;
	color:red;
}
.liFloatBackground01{
	float:right;
	width:70%;
	height:400px;
	background:#f2f2f2;
}
.liFloat li{
	font-size: 12px;
	line-height: 30px;
	font-family:"ProximaNovaSemibold","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.introduceBox .liFloat02{
	padding-right:100px;
}
.introduceBox .liFloat03{
	padding-right:160px;
}

/*banner*/
.bannerTop{
	background: #cec8c8;
	font-size: 12px;
	width:100%;
	height:40px;
	line-height: 40px;
	text-align: center;
}
.bannerTop span:last-child{
	color:red;
}
.bannerPic01{
	position:relative;
	margin:0 auto;
	width:1056px;
	height:328px;
	margin-bottom: 20px;
}
.bannerPic01 img{
	width:100%;
	height:100%;
}
.blackBackground{
	font-family:"Didot","Times New Roman",serif;
	font-size:30px;
	color:white;
	background:rgba(0,0,0,.6);
	width:50%;
	height:100%;
	position: absolute;
	right:0;
	top:0;
}
.blackBackground p{
	margin-bottom:20px;
	margin-left:200px;
	margin-top:100px;
}
.blackBackground a{
	margin-left:200px;
	font-size: 14px;
	font-family:"ProximaNovaSemibold","Helvetica Neue",Helvetica,Arial,sans-serif;
	color:black;
	display:block;
	width:120px;
	height:40px;
	line-height: 40px;
	text-align: center;
	background: white;
} 
.blackBackground a:hover{
	color:white;
	background: #898989;
}
.bannerPic02{
	box-sizing: border-box;
	margin:0 auto;
	width:1056px;
	height:466px;
	margin-bottom: 20px;
}
.bannerLeft{
	float:left;
	position:relative;
	width:50%;
	height:100%;
}
.bannerLeft img{
	width:100%;
	height:100%;
}
.blackBackground02{
	text-align: center;
	color:white;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:50%;
	background:rgba(0,0,0,.5);
}
.blackBackground02 p:first-child{
	margin-top:50px;
	font-size: 16px;
	margin-left:30px;
}

.blackBackground02 p:nth-child(2){
	font-family:"Didot","Times New Roman",serif;
	font-size:30px;
	margin-left:30px;
}
.blackBackground02 a{
	background: white;
	display:block;
	width:100px;
	height:30px;
	line-height: 30px;
	font-size: 14px;
	margin-top:15px;
	margin-left:230px;
}
.blackBackground02 a:hover{
	color:white;
	background: #898989;
}
.bannerRight{
	float:right;
	width:50%;
	height:50%;
	background:#f5e9e9;
}
.bannerRight img{
	margin-left:70px;
	margin-top:15px;
	height:200px;
}
.bannerRight div{
	text-align: center;
	font-size: 18px;
	font-family: "Didot","Times New Roman",serif;
	float:right;
	margin-top:60px;
	margin-right:70px;
}
.bannerRight a{
	display: block;
	width:200px;
	height:40px;
	line-height: 35px;
	background: white;
	font-size: 14px;
}
.bannerRight a:hover{
	background: #898989;
	color:white;
}
.box01 p:nth-child(3){
	font-size: 14px;
}
.box01 p:nth-child(4){
	font-size: 16px;
	margin:20px 0;
}
.picMiddle{
	width:1056px;
	height:230px;
	margin:0 auto;
	margin-bottom:10px;
}
.picMiddle01{
	float:left;
	width:512px;
	height:230px;
	position:relative;

}
.picMiddle01 img{
	width:100%;
	height:100%;
}
.picMiddle01 .middleBlack{
	position:absolute;
	width:512px;
	height:100px;
	bottom:0;
	left:0;
	background:rgba(0,0,0,0.6);	
	z-index: 1;
}
.middleBlack .text03{
	position:absolute;
	left:0;
	top:15px;
	width:100%;
	height:30px;
	font-family: "Didot","Times New Roman",serif;
	color:white;
	text-align: center;
	font-size: 24px;
	z-index: 10;
}
.middleBlack .goShopping{
	font-family: "ProximaNovaSemibold","Helvetica Neue",Helvetica,Arial,sans-serif;
	position:absolute;
    left:215px;
    font-size: 14px;
    top:50px;
	width:90px;
	height:34px;
	background:white;
	margin:0 auto;
	text-align: center;
	line-height: 34px;
	z-index: 100;
}
.goShopping:hover{
	color:white;
	background: #898989;
}
.picMiddle02{
	margin-right:30px;
}

/*footer*/

.footerTop{
	margin-top:50px;
	width:100%;
	background:#f2f2f2;
	height:200px;
	position:relative;
}
.footerTop:after{ 
	content:"";
	display: block;
	clear:both;
	height:0;
	overflow:hidden;
	visibility: hidden;
}
.footerTop .footer_left{
	float:left;
	font-size: 14px;
	color:white;
	width:202px;
	height:34px;
	line-height: 34px;
	text-align: center;
	background: #a2a2a2;
	margin:80px 100px;	
}
.footer_left:hover{
	background: #282727;
}
.footerTop .footer_middle{

	text-align: center;
	margin:50px  auto;
	width:202px;
	height:92px;
	float:left;
	margin-left:200px;

}
.footer_middle p:first-child{
	font-family: "Didot","Times New Roman",serif;
	font-size: 24px;	
}
.footerTop  .footer_right{

}
.footerTop .footer_middle_bottom{
	line-height: 30px;
	text-align: center;
	width:202px;
	height:30px;
	font-size:14px;
	color:white;
	background: #a2a2a2;
}
.footer_middle_bottom:hover{
	background:#282727;
}
.footer_middle  p:nth-child(2){
    font-size:14px;
    padding-bottom:14px;
}
.footer_right{
	font-family: "Didot","Times New Roman",serif;
	font-size: 20px;
	text-align: center;
	float:right;
	 width:445px;
	 height:200px;
}
.footer_right p{
	margin-top:30px;
	margin-bottom:14px;
}
.footer_right .spanPic01{
	margin-right:60px;
	display: inline-block;
	width:30px;
	height:30px;
	background: url(../img/common-sprite.png)  -648px -65px no-repeat;
}
.footer_right .spanPic02{
    margin-right:60px;
    display: inline-block;
	width:30px;
	height:30px;
	background: url(../img/common-sprite.png)  -570px -465px no-repeat;
}
.footer_right .spanPic03{
	display:block;
	width:195px;
	height:55px;
	margin:20px 0 0 100px;
	background: url(../img/common-sprite.png)  -0px -0px no-repeat;
}
.spanPic04{
	left:50%;
	top:-20px;
	position:absolute;
	display:block;
	width:40px;
	height:40px;
	background: url(../img/common-sprite.png)  -0px -574px no-repeat;
}
.footerBottom{
	width:100%;
	height:50px;
	text-align: center;
	overflow:hidden;
}
.footerBottom li{
	margin-right:40px;
	line-height: 50px;
	font-size: 12px;
	float:left;
}
.footerBottom li:first-child{
	margin-left: 40px;
}
.spanPic05{
	margin-top:8px;
	display: inline-block;
	width:30px;
	height:30px;
	background: url(../img/common-sprite.png)  -645px -215px no-repeat;
}
.spanPic06{
	display: inline-block;
	width:30px;
	height:30px;
	background: url(../img/common-sprite.png)  -92px -666px no-repeat;
}



